h1 {
  color: #7fdbda;
}
.container {
  width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  margin-top: 20px;
}

.name h2 {
  color: #ffffff;
  font-weight: bold;
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
  padding: 16px;
}

#map {
  height: 100vh;
  position: sticky;
  top: 5px;
  bottom: 5px;
}
