.buoy-img > img {
  border-radius: 6px;
  margin-bottom: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    transform: rotateY(180deg);
  }
}

.buoy-infos h2 {
  color: #FEBF63;
}

.buoy-infos h5 {
  font-weight: bold;
  color: #6C757D;
}

.buoy-infos p {
  font-weight: bold;
  color: #6C757D;
}

.title h1 {
  text-shadow: 0 0 2px rgba(48, 78, 82, 0.5);
}

.d-none {
  color: #7fdbda;
}
.buoy-img {
  margin-top: 35px;
}

