.profile {
  margin-top: 40px;
}

.profile-element {
  border-bottom: 1px solid #7fdbda;
  padding-bottom: 24px;
}

.profile-title {
  font-size: 24px;
}

.profile-paragraph {
  font-size: 20px;
  opacity: 0.5;
}

.btn {
  margin: 20px 0 20px 0;
}

h2 {
  color: #febf63;
  opacity: 0.7;
  padding-top: 40px;
  padding-bottom: 20px;
}
