.profile {
  margin-top: 40px;
}

.profile-element {
  border-bottom: 1px solid #7fdbda;
  padding-bottom: 24px;
}

.profile-title {
  font-size: 24px;
}

.profile-paragraph {
  font-size: 20px;
  opacity: 0.5;
}

.btn {
  margin: 20px 0 20px 0;
}

h2 {
  color: #ffffff;
  font-weight: bold;
}

.profile-buoys {
  width: 50%;
  margin-bottom: 30px;

  .card-trip-infos {
      display: flex;
      flex-direction: column;
      padding-left: 0px;
      align-items: flex-start;
    }
}
