<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://buffer.com/resources/content/images/size/w600/2020/07/Frame-45.png);">
  <div class="container">
    <h1>Bienvenue sur <strong>Beach Buoys</strong>!</h1>
    <p><strong>Trouvez la bouée qui va changer votre vie à la plage.</strong></p>
    <div class="btn btn-flat btn-to-index"><%= link_to "Trouve ta bouée", buoys_path %></div>
    <%#  <a class="btn btn-flat btn-to-index" href="buoys_path">Find it now</a> %>
  </div>
</div>


