<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://buffer.com/resources/content/images/size/w600/2020/07/Frame-45.png);">
  <div class="container">
    <h1>Welcome on <strong>Beach Buoys</strong>!</h1>
    <p><strong>Find your perfect buoy to change your beach life.</strong></p>
    <div class="btn btn-flat btn-to-index"><%= link_to "Trouve ta bouée", buoys_path %></div>
    <%#  <a class="btn btn-flat btn-to-index" href="buoys_path">Find it now</a> %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Bénédicte, Julie, Stéphanie et Chrystèle.
  </div>
</div>

