<div class="container">
  <div class="card">
    <h1><%= @buoy.name %></h1>
    <% if @buoy.photo.attached? %>
      <%= image_tag @buoy.photo, alt: "bouée", width: 300, heigth: 200, crop: :fit %>
    <% end %>
    <div class="details">
      <p><%=  @buoy.description %></p>
      <p><%= @buoy.price %></p>
    </div>
  </div>
</div>
