<div class="container">
  <div class="card">
    <h1><%= @buoy.name %></h1>
    <%= image_tag @buoy.photo, alt: "bouée", width: 300, heigth: 200, crop: :fit %>
    <div class="details">
      <p><%=  @buoy.descritpion%></p>
      <p><%= @buoy.price %></p>
    </div>
  </div>
</div>
