.navbar-lewagon {
  justify-content: space-between;
  background: #febf63;
  margin-top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

.navbar-lewagon .navbar-brand .logo > img {
  // display:block;
  width: 45px;
}

.companu-name {
  font-size: 46px;
  color: white;
  opacity: 0.6;
}
